<!DOCTYPE html>
<html lang="en">
  <head>
    <meta
      content="What is the best strategy for managing type 2 diabetes patients in the primary care setting?"
      property="og:title"
    />
    <meta content="DxAssist" property="og:description" />
    <meta content="website" property="og:type" />
    <meta
      content="https://fs-dev.dxassist.ai/preview/0x1928b35f09f7122d7e8e77a1043e3eb?Expires=1731562672&amp;Signature=z474xY7gcszdzeVphUO1sDf00leYTYnRpwvBMMpvjIjYY8GbNBwNplmw7HEAVHIQY95xp6isaw3w3ip4LnIcYwKcJT-cA7eWzqum3KqT~vTujhIjO6htqTiYNVUTERcujnXOLgKKxdFcR18q~4gLxBDBB5orgKYXRaWWhul8We-qnPP~-XwotC6oDOT1baFS5t0I-Wj-ylwsqs2pWbE3~4oiNN4L8awZJpmOlOpvAxJoVJK5ixMPxojJfKZk0OrAu0Uu1QcWdFCnKyMJ6hmcIBaYo9r0d4RayoCkElHkyNHvbPb5gcl1cyz~qHx4LLJv98RQTNF0VPCPlooS1HOGHQ__&amp;Key-Pair-Id=K2BC7R8SEVH8JU"
      property="og:image"
    />
    <meta content="image/jpeg" property="og:image:type" />
    <meta content="400" property="og:image:width" />
    <meta content="300" property="og:image:height" />
    <meta
      content="What is the best strategy for managing type 2 diabetes patients in the primary care setting?"
      property="og:image:alt"
    />
    <meta content="summary_large_image" property="twitter:card" />
    <meta
      content="What is the best strategy for managing type 2 diabetes patients in the primary care setting?"
      property="twitter:title"
    />
    <meta content="DxAssist" property="twitter:description" />
    <meta
      content="https://fs-dev.dxassist.ai/preview/0x1928b35f09f7122d7e8e77a1043e3eb?Expires=1731562672&amp;Signature=z474xY7gcszdzeVphUO1sDf00leYTYnRpwvBMMpvjIjYY8GbNBwNplmw7HEAVHIQY95xp6isaw3w3ip4LnIcYwKcJT-cA7eWzqum3KqT~vTujhIjO6htqTiYNVUTERcujnXOLgKKxdFcR18q~4gLxBDBB5orgKYXRaWWhul8We-qnPP~-XwotC6oDOT1baFS5t0I-Wj-ylwsqs2pWbE3~4oiNN4L8awZJpmOlOpvAxJoVJK5ixMPxojJfKZk0OrAu0Uu1QcWdFCnKyMJ6hmcIBaYo9r0d4RayoCkElHkyNHvbPb5gcl1cyz~qHx4LLJv98RQTNF0VPCPlooS1HOGHQ__&amp;Key-Pair-Id=K2BC7R8SEVH8JU"
      property="twitter:image"
    />
    <meta
      content="What is the best strategy for managing type 2 diabetes patients in the primary care setting?"
      property="twitter:image:alt"
    />
    <meta content="noindex" name="robots" />
    <title>DxAssist</title>
  </head>
</html>
