<!DOCTYPE html>
<html lang="en">
  <head>
    <meta
      property="og:title"
      content="Apa strategi terbaik untuk mengelola pasien diabetes tipe 2 di lingkungan perawatan primer?"
    />
    <meta property="og:description" content="DxAssist" />
    <meta property="og:type" content="website" />
    <meta
      property="og:image"
      content="https://fs-dev.dxassist.ai/preview/0x1928f9beb7b448be1d15d17d202cb11?Expires=1731578813&Signature=CzNYJN3Xrtbd45A8IXKdujl9Ln6ltAClmCbhgEjEi04QJuMr7PJ21Q015v1FG7moSjMnkD-iJsUJtHgXMwLOKdBb~52HQX8j31~KniNJ9jgg3eReMXpiiC7a6FDl0m4PZEf7-KkhcyuKcP1mVKuUWF2y~7CuO5Mb5Ox2WGf1wd77ZsyNliySoUj4IUEO8TSsN~198aFbNtXW4urzzX9s7mOBNM5wrF7nLz8QGjWiSisBg87X1Zvu9q2UOvAJFg2dVXIatx-FLTGqYTGI1XEUir1TNWSefnG5I7WAxXgXqjg~MeQOZ8FxjZX52xS89rprbV1iJi1ymOBd4mIxhvOOGg__&Key-Pair-Id=K2BC7R8SEVH8JU"
    />
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:image:width" content="400" />
    <meta property="og:image:height" content="300" />
    <meta
      property="og:image:alt"
      content="Apa strategi terbaik untuk mengelola pasien diabetes tipe 2 di lingkungan perawatan primer?"
    />

    <meta property="twitter:card" content="summary_large_image" />
    <meta
      property="twitter:title"
      content="Apa strategi terbaik untuk mengelola pasien diabetes tipe 2 di lingkungan perawatan primer?"
    />
    <meta property="twitter:description" content="DxAssist" />
    <meta
      property="twitter:image"
      content="https://fs-dev.dxassist.ai/preview/0x1928f9beb7b448be1d15d17d202cb11?Expires=1731578813&Signature=CzNYJN3Xrtbd45A8IXKdujl9Ln6ltAClmCbhgEjEi04QJuMr7PJ21Q015v1FG7moSjMnkD-iJsUJtHgXMwLOKdBb~52HQX8j31~KniNJ9jgg3eReMXpiiC7a6FDl0m4PZEf7-KkhcyuKcP1mVKuUWF2y~7CuO5Mb5Ox2WGf1wd77ZsyNliySoUj4IUEO8TSsN~198aFbNtXW4urzzX9s7mOBNM5wrF7nLz8QGjWiSisBg87X1Zvu9q2UOvAJFg2dVXIatx-FLTGqYTGI1XEUir1TNWSefnG5I7WAxXgXqjg~MeQOZ8FxjZX52xS89rprbV1iJi1ymOBd4mIxhvOOGg__&Key-Pair-Id=K2BC7R8SEVH8JU"
    />
    <meta
      property="twitter:image:alt"
      content="Apa strategi terbaik untuk mengelola pasien diabetes tipe 2 di lingkungan perawatan primer?"
    />

    <meta name="robots" content="noindex" />

    <title>DxAssist</title>

    <script>
      window.location.replace(
        "https://global-dev.dxassist.ai/search/share?sid=01JA7SQTVV8J5Y3MAX2Z905JRH"
      );
    </script>
  </head>
</html>
